{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %} Refugio de animales {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />

    {% block extrahead %} {%endblock %}
  </head>
  <body>
    <div class="container justify-content-center">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8000/mascota/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="http://localhost:8000/mascota/nuevo">
                Registrar Mascotas
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="http://localhost:8000/mascota/listar">
                Listar Mascotas
              </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="http://localhost:8000/adopcion/solicitud/nueva">
                  Registrar Persona
                </a>
            </li>
            <li class="nav-item ">
               <a class="nav-link " href="http://localhost:8000/adopcion/persona/listar">
                  Listar Persona
              </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="http://localhost:8000/adopcion/solicitud/listar">
                  Listar Solicitudes
                </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="http://localhost:8000/usuario/registrar">
                Registrarse
              </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'logout' %}">
              Cerrar Sesion
            </a>
        </li>
        
          </ul>
        </div>
      </nav>
    </div>
    <div class="container justify-content-center">
      {% block header %} {% include 'base/header.html' %} {% endblock %} 
      {%block content %}
      <div class="container" style="left:0; right:0;" uwidth="100%">
        <h1>Refugio de animales</h1>
        <hr />
        <img src="{% static 'img/animales.jpg' %}" width="40%" />
        <h4>
          Este es un lugar donde puedes registrar a las mascotas adoptadas, aqui
          esperaran a encontrar su futuro dueño.
        </h4>
        <ul>
          <li>
            <h5>
              Para registrar una mascota hacer click en el link Resigtrar
              mascota
            </h5>
          </li>
          <li>
            <h5>
              Para Ver las mascotas registradas hacer click en Listar mascotas
            </h5>
          </li>
        </ul>
      </div>

      {% endblock %}
      </div>
       {% block footer %} {% endblock %} 
      {% block extrajs %} {% endblock %}
  </body>
</html>
